@page
@model BlazorMUCsrv.Pages.modul8.jstestModel
<div id="eins"></div>
<script>
    document.getElementById("eins").innerHTML = "test";
    alert("Hallo Welt");
    var eingabe = prompt("was?");
    document.title = "hallo welt";
</script>

@{


}


