@page "/todo"
@inject IHttpClientFactory http
@using System.Text.Json
<h3>RESTtodo</h3>
<button class="btn btn-primary" @onclick="laden">laden</button>
@if (Liste==null)
{
    <p>Daten laden .....</p>
}
else
{
    <ul class="list-group">
        @foreach (var item in Liste)
	{
		 <li class="list-group-item">
             @item.title
         </li>
	}
    </ul>
}

@code {
    public List<Todos> Liste;
    void laden()
    {
        var client = http.CreateClient();
        var ret = client.GetAsync("https://jsonplaceholder.typicode.com/todos").Result;
        if (ret.IsSuccessStatusCode)
        {
            var data = ret.Content.ReadAsStringAsync().Result;
            Liste = JsonSerializer.Deserialize<List<Todos>>(data);
        }

    }
}
