@page "/hmtltemp"
<h3>UseHTMLTemplate</h3>
<HTMLTemplate>
    @*<p>das ist hmtl code</p>*@
    <Kind1><p>das ist hmtl code</p></Kind1>
    <Kind2><p>das ist hmtl code</p></Kind2>
</HTMLTemplate>


@code {

}
