@page "/route"
@page "/max/{par1?}"

<h3>Route @par1</h3>

@code {
    [Parameter]
    public string par1 { get; set; }

    // http://domain/crm/rechnungen/23?top=100&skip=100
    //http://domain/crm/kunden/123

}
