@page
@model BlazorMUCsrv.Pages.modul5.htmlModel
@{
}
<form method="post" novalidate>
    <input name="eins" required/>
    <input type="datetime-local" name="zwei"/>
    <input type="number" name="drei" />
    <input type="range" name="vier" min="0" max="10" />
    <button type="submit">ok</button>
</form>